@{
    ViewBag.Title = "Administrative Page Instructions";
}

<h2>AdministrativePageInstruct</h2>

<h5>Pending Case Files</h5>
<ul>
 <li>This allows for the current administrator to “View”, “Approve”, or “Reject” casefiles submitted from contributors .</li>
    </ul>

    An administrator can perform the following actions: 
<ul>
    <li>The “Create New Casefile” button where the administrator can submit a casefile into the database. </li>
    <li>The “Return” button that will redirect the Administrator back to their homepage. </li>
    </ul>
The list of casefiles and associated students will pop-up in a table. All that is needed by the administrator is to select one of the casefiles by selecting a checkbox located to the left of any casefile, and then choosing the desired action by either:<br /><br />
   <ul>
 <li>Choosing the “Viewing” button to review the casefile</li>
    <li>Choosing the “Approved” button to release the case into the database for all users to search</li>
    <li>Choosing the “Reject” button which will send the casefile back to the submitter for revision. </li>

    </ul>

      

<h5>Pending Interventions</h5>
<ul>
 <li>This allows for the current administrator to “View”, “Approve”, or “Reject” casefiles submitted from contributors .</li>
    </ul>

    An administrator can perform the following actions: 
<ul>
    <li>The “Create New Intervention” button where the administrator can submit an Invervention into the database. 
 </li>
    <li>The “Return” button that will redirect the Administrator back to their homepage. </li>
    </ul>
This allows for the current administrator to “View”, “Approve”, or “Reject” Inverventions submitted from contributors . The list of Invervention Names and associated students will pop-up in a table. All that is needed by the administrator is to select one of the Interventions by selecting a checkbox located to the left of any Intervention, and then choosing the desired action by either: <br /><br />
   <ul>
 <li>Choosing the “Viewing” button to review the intervention</li>
    <li>Choosing the “Approved” button to release the intervention into the database for all users to search</li>
    <li>Choosing the “Reject” button which will send the intervention back to the submitter for revision. </li>

    </ul>

<h5>Pending Accounts</h5>
This allows for the current administrator to “View”, “Approve”, or “Reject” accounts registered from potential users of the system . The list of Pending Accounts and information of associated students will pop-up in a table. All that is needed by the administrator is to select one of the students accounts by selecting a checkbox located to the left of any pending account, and then choosing the desired action by either: <br /><br />

   <ul>
 <li>Choosing the “Viewing” button to review the account</li>
    <li>Choosing the “Approved” button to allow the new account to log on to the system</li>
    <li>Choosing the “Reject” button which will not allow the new account to log on to the system. </li>

    </ul>
