@{
    ViewBag.Title = "Administrative Page Instructions";
}

<h2>Administrative Page Instructions </h2>

  <h4>An administrator can perform the following actions: </h4>
Create a new Case file
<ul>
    <li>The “Create New Casefile” button where the administrator can submit a case file into the database. </li>
    <li> A “Return” button where the administrator will be redirected back to their homepage if on one of the form pages.</li>
    <li>A "View all Units" option where the administrator can :
       </ul>
        <ul>
        <li>view, edit, delete, approve or reject contributor submitted Case studys and interventions</li>
        <li>This can be done finding the target intervention or case study and selecting the following buttons: view, edit, delete, approve, reject.  </li>
   </ul>

<h5>Pending Case Files</h5>
<ul>
 <li>This allows for the current administrator to “View”, “Approve”, or “Reject” case files submitted from contributors .</li>
    </ul>
    
  <ul>
 <li>Choosing the “Viewing” button to review the casefile</li>
    <li>Choosing the “Approved” button to release the case into the database for all users to search</li>
    <li>Choosing the “Reject” button which will send the case file back to the submitter for revision. </li>

    </ul>

      

<h5>Pending Interventions</h5>

This allows for the current administrator to “View”, “Approve”, or “Reject” Inverventions submitted from contributors . The list of Invervention titles and associated students will be displayed in the table. All that is needed by the administrator is to select one of the Interventions and then choosing the desired action by either: <br /><br />
   <ul>
 <li>Choosing the “Viewing” button to review the intervention</li>
    <li>Choosing the “Approved” button to release the intervention into the database for all users to search</li>
    <li>Choosing the “Reject” button which will send the intervention back to the submitter for revision. </li>

    </ul>

<h5>Pending Accounts</h5>
This allows for the current administrator to “View”, “Approve”, or “Reject” accounts registered from potential users of the system . The list of Pending Accounts and information of associated students will be available in a table. All that is needed by the administrator is to select one of the students accounts by selecting any pending account, and then choosing to approve or reject it. <br /><br />

   <ul>
 <li  

    </ul>
