@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<div id="search_box">

    <form action="/Results/index" method="post">
        <input type="text" id="search_term"name="search_term" size="55" placeholder="Enter your search term here..." />
        <br />
        <div id="container">
          <a href="javascript:void(0);" id="filters_a" data-state="0">use filters for advanced search...</a>
          <br />
          <div id="filters">
            <div class="filter">
                <input type="checkbox" id="all" checked name="search_types_all" value="all"  /> All 
            </div >
            @{foreach( String type in ViewBag.search_types){
                    <div class="filter">
                        <input type="checkbox" id="@type" name="search_types" value="@type" class="search_types" /> @type.Replace('_',' ')
                    </div>
                }
            }
           </div>
            
        </div>
        <br />
        <input type="submit" value=" Search " />
    </form>
</div>

