@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<div id="search_box">

    <form action="/Results/index" method="post">
        <input type="text" id="search_term"name="search_term" size="55" placeholder="Enter your search term here..." />
        <br />
        <div><input type="checkbox" id="all" name="search_types" value="all" /></div>
        <input type="submit" value=" Search " />
    </form>
</div>

