@{
    ViewBag.Title = "LogOnInstructions";
}

<h2>Log On Instructions</h2>

<h5>Step 1:</h5>
<ul>
<li>
     Locate the "Log On" link at the right top corner of any page and click on it . 
    </li>
    </ul>
<h5>Step 2:</h5>
<ul>
<li>
   Once at the "Log On" page supply the "Username" and "Password" that you created during registration, inside the account information boxes.
    </li>
    
    </ul>
<h5>Step 3:</h5>
<ul>
<li>Before you click the "Log On" button, you can opt to have your browser remember your username and password by checking
    off the "Remember Me?" checkbox. Otherwise go ahead and click the "Log On" button. 
</li>
    
    </ul>

</ul>
