@{
    ViewBag.Title = "RegisterInstructions";
}

<h2>Register Instructions</h2>

<h5>Step 1:</h5>
<ul>
<li>
     Locate the "Log On" link at the right top corner of any page and click on it . 
    </li>
    </ul>
<h5>Step 2:</h5>
<ul>
<li>
   Once at the "Log On" page, select the "Register" link above the "Log On" section. 
    </li>
    </ul>
<h5>Step 3:</h5>
    <ul>
<li>
        Once at the "Register" page, fill out the form and click the "Register" button to send in a registration request. 
</li>
</ul>
<h5>Notes:</h5>
    <ul>
    <li>
    A notification will be sent to your e-Mail address when you are approved by an administrator.
 </li>
        <li>Upon approval you will be able to log in to the system. </li>
        <li>Make sure you remember your username and password!</li>
        </ul>
   