@{
    ViewBag.Title = "User Manual";
}

<div id="Help Manual">
<h1> <b><u>MCPD User Manual</u></b></h1><br />

    <h1>New Users </h1>

  <h5>New users have the capability of searching the database, from the home page, to include desired case studies and interventions. </h5>
    <ul>   
        <li>            
        Questions about using the home page can be found at <a href="/Home/HomePageTutorial">Home Page Tutorial</a> 
        </li>
        </ul>
 
        <h5> New users can read about the general purpose of the MCPD Website at <a href="About">About page</a>. </h5>
       
        
       <h5>New users can register for an account to submit case studies and interventions into the database. </h5>
       <ul>
     <li>
        Registering an account can be found at the <a href="../Account/Register">Register Page</a> within the "Log On" Page.
</li>
        <li>
        Help about registering an account can be found at <a href="/Home/RegisterInstructions">Account Register Instructions</a>
            </li>
           </ul> <br/>  
    
   <h1>Registered Users</h1>
    
      <ul>
        <li>Registered users can proceed to the <a href="../Account/LogOn">Log On Page</a> to access their account </li>
        <li>Help for logging on after registration can be found at <a href="/Home/LogOnInstructions">Log On Instructions</a></li>
          <li>Once logged on, details about a registered user's homepage can be found at <a href="/Home/UserHomePageInstruct">User Home Page Instructions</a> </li>

    </ul>

    <h1>Administrators</h1>
    <h5>For accounts with administrative rights the home page will consist of an administrative page to help track and approve student case files, interventions and accounts. </h5>
    <ul>
        <li>Follow the link for a reference about the <a href="/Home/AdministrativePageInstruct"> Administrative page</a>.</li>
       
    </ul>

   
</div>