@{
    ViewBag.Title = "UserHomePageInstruct";
}

<h2>UserHomePageInstruct</h2>

<h5>User Capabilities Once Loged On:</h5>
<ul>
    <li>Once a user logs on, they will be directed to their personal home page.</li>
       <li> This personal home page looks and feels like the home page that unregistered users 
        can access in the sense of searching, but with some added features listed below:</li>
            <ul>
                <li>The first feature added is the “Create Case Study” link, that redirects to a form that allows the currently loged in user to create a new Case Study. </li>
                <li>The next feature is the "Create New Invervention" link that redirects to a form that allows the current user to create a new Invervention  </li>
                <li>NOTE: All case studies and interventions will need to be approved by your instructor before other users can search for your work</li>
                <li>Students can also edit submitted interventions and case files that have not been approved by their instructor by selecting the file and clicking their respective "edit" button</li>
                <li>Students can also view submitted interventions and case files that have been approved by their instructor by selecting the file and clicking their respective "view" button </li>
            </ul>