@{
    ViewBag.Title = "Search Results";
}
<div id="results_filters">
<form>
<input type="checkbox" /> Show Interventions only
<br>
<input type="checkbox" /> Show Case Studies only

</form>


</div>

<div id="results_content">
<p>
<a><em>*Nancy Koplin - practice pattern 6D </em></a><br />
...Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <b>nonummy nibh</b> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
&nbsp
<a>Add references</a>
</p>
<p>
<a><em>A School Based Neuromuscular Case~ Student with Cerebral Palsy-Spastic Quadriplegia </em></a><br />
...Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <b>nonummy nibh</b> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
&nbsp
<a>Add references</a>
</p>
<p>
<a><em>Cardiopulmonary - Susan Cottrell </em></a><br />
...Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <b>nonummy nibh</b> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
&nbsp
<a>Add references</a>
</p>
<p>
<a><em>Dot Lehr - Neuromuscular </em></a><br />
...Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <b>nonummy nibh</b> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
&nbsp
<a>Add references</a>
</p>
<p>
<a><em>First Case Study </em></a><br />
... sed diam <b>nonummy nibh</b> euismod tincidunt  aliquam erat volutpat...
&nbsp
<a>Add references</a>
</p>
<p>
<a><em>Fibromyalgia and Functional Impact: Assessment and Intervention </em></a><br />
...Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <b>nonummy nibh</b> euismod tincidunt ut ut laoreet dolore magna laoreet dolore magna aliquam erat volutpat...
&nbsp
<a>Add references</a>
</p>
<p>
<a><em>Gait training after Stroke...a case of 73 y/o male patient with R basal ganglia infarct </em></a><br />
... sed diam <b>nonummy nibh</b> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat...
&nbsp
<a>Add references</a>
</p>

</div>