@{
    ViewBag.Title = "Search Results";
}
<div id="results_filters">
<form>
<button type="button" data-state="1" data-type_to_toggle="CaseStudy" data-type_for_label =" Case Studies" class="toggle" > Hide Case Studies </button>
<br>
<button type="button" data-state="1"  data-type_to_toggle="Intervention" data-type_for_label=" Interventions" class="toggle" > Hide Interventions </button>

</form>


</div>

<div id="results_content">
@{foreach(PTProject.Models.Searchable el in ViewBag.results)
  {
    <p class ="">
        <a><em>@ViewBag.Parents.find_by_id(@el.parent_id).title</em></a><br />
        @Html.Raw(el.short_content(ViewBag.search_term))
    </p>
  }
        
}

</div>