<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://ptproject.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ptproject</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$ptproject</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Users" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:t5a8kanlx9.database.windows.net,1433;Initial Catalog=Membership;User ID=gindyo@t5a8kanlx9;Password=@20winter12" Name="Data Source=tcp:t5a8kanlx9.database.windows.net,1433;Initial Catalog=Membership;User Id=gindyo@t5a8kanlx9;Password=@20winter12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Initial Catalog=users;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Users_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=users;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\ASPNETDB.MDF; Integrated Security=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PT_DB" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:t5a8kanlx9.database.windows.net,1433;Initial Catalog=PT_DB;User ID=gindyo@t5a8kanlx9;Password=@20winter12" Name="Data Source=tcp:t5a8kanlx9.database.windows.net,1433;Initial Catalog=PT_DB;User Id=gindyo@t5a8kanlx9;Password=@20winter12" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\dimitar\Documents\Visual Studio 2012\Projects\pt_project\PTProject\App_Data\PHT_DB.mdf&quot;;Integrated Security=True;Connect Timeout=30;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PT_DB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.EFModels.csdl|res://*/Models.EFModels.ssdl|res://*/Models.EFModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\dimitar\Documents\Visual Studio 2012\Projects\pt_project\PTProject\App_Data\PHT_DB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PT_DB-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EFModels.csdl|res://*/Models.EFModels.ssdl|res://*/Models.EFModels.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:t5a8kanlx9.database.windows.net,1433;initial catalog=PT_DB;user id=gindyo@t5a8kanlx9;password=@20winter12;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Users-Web.config Connection String">
      <ParameterValue>Data Source=tcp:t5a8kanlx9.database.windows.net,1433;Initial Catalog=Membership;User Id=gindyo@t5a8kanlx9;Password=@20winter12</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>