@{
    ViewBag.Title = "About Us";
}
<div id="content">
<h2>About</h2>
<p>
     What is the Medically Complex Patient Database (MCPD)?

This dynamic online database is intended for the use of students studying Physical Therapy. It is a digital collection of case studies developed from live patients with multiple diagnosis and medically complex needs. It is intended primarily as an instructional tool, and was developed through a partnership between the Richard Stockton College of New Jersey Departments of Physical Therapy and Masters of Instructional Technology.

What is a dynamic database?

</p>
<p>

Dynamic databases are web based collections of information that can be added to and updated. Any changes in the database are immediately reflected on the web pages that use the database. In the case of the MCPD, it allows you to add cases to the collection of cases in order to help others learn how to diagnose and develop treatment plans for a wide variety of patients and ailments.

</p>
<h3>

What can I do with the case study database?

</h3>
<p>

Initially, students studying physical therapy will find it helpful to search a case and review it. You can review the medical history, social history, assessments and lab results of these medically complex patients. You may submit an intervention to any case. You can also submit references that support the case.

</p>
<p>

Eventually, you may want to submit a case that you have investigated and developed. There are tutorials that explain how to prepare and upload a case study.

A worksheet that will help you to develop an intervention is located within the database.
</p>
<h3>

Students can:
</h3>

<ul>
<li>
        Search for specific cases to review and discuss in many medical areas such as oncology, orthopedic, vascular, bariatric, cardiology, and more. This is useful for class discussion and analysis.
</li>
<li>
        Develop interventions for each case, and submit them to the database. They can then view other interventions submitted for that case.
</li>
<li>
        Research and write their own case studies based on their professional clinical experiences. Students can then submit this case study to the database, including uploading digital files and images.
</li>

</ul>

<h3>
How can the MCPD assist Physical Therapy faculty and instructors?
</h3>

<ul>
<li>
        The MCPD is a flexible and dynamic online teaching tool accessible from any location with Internet access. This makes it great for online or hybrid e-learning and also a great supplement to traditional classroom instruction.
</li>
<li>
        There are wrap around supports such as online tutorials and printable PDF sheets for the database.
</li>
<li>
        The MCPD has a built in evaluation tool to assess the effectiveness of the learning environment and the database as a learning tool.
</li>
<li>
        The administrative page allows for authorized faculty to complete a variety of database functions, such as viewing and collecting evaluation information, retrieving case interventions for grading and feedback, and deleting cases as necessary.
</li>
</ul>
<h3>
How do I get started?
</h3>
<ul>
<li>
To search the database for case studies, click CASES.
</li>
<li>
To review tutorials, click TUTORIALS.
</li>
<li>
To submit case references, an intervention, or a case, click SUBMIT.
</li>
<li>
How do I exit the database when I am finished?

When you have completed all your work within the database, click EXIT, and you will be able to exit the database.
</p>
</div>