@{
    ViewBag.Title = "HomePageTutorial";
}

<h2>Home Page Tutorial</h2>

<h3>Features:</h3>

<h5>Search Box</h5>
<ul>
<li>
     The home page provides a search box for any user to search for a case study or intervention. 
    </li>
<li>
    Users will be required to input a search term pertaning to a case study or intervention. 
    </li>
    <li>
The default search will direct the user to a “Results” page which all related case study and interventions that match the user supplied input will be displayed. 
</li>
    <ul>
    <li>
    On the "Results" page a user can see case studies only in the results simply clicking the “Hide Inverventions” button .
 </li>
    <li>
    On the "Results" page a user can also see interventions only in the results simply clicking the “Hide Case Studies” button .   
   </li>
        </ul>
         </ul> 

<h5>Using Filters For Advanced Search</h5>

  <ul>
<li>
   In conjunction with the search box, users may also search for either a single criteriteria, multiple criteria, or all related case study fields .  
    </li>
    <li>
This can be accomplished by clicking on the “user filters for advanced search...” link located directly under the search box. This will bring up a menu for selecting more specific search options.
  
        </ul>

<h5>Search Button</h5>
<ul>
    <li>The search button can be used to execute a search from user supplied input in the search box.</li>
    <li>This is located under the advanced search filters.</li>

</ul>

<h5>Site Menu</h5>
<ul>
    <li>This menu includes links for the “Home Page”(the current page), and the “About MCPD” page that redirects to another page that describes what the online database is intended for. </li>
    <li>Above the menu also includes a “Log On” link that will redirect users to a log on page. <br />
        <ul>
            <li>The log on page provides new users a link to register for the site. </li>
       <li> Currently registered users can log on here as well. </li>
    </ul>
        </li>
</ul>